.cache/
.steam/
.zotero/

Documents/
Downloads/
Media/
Zotero/
org/

.nix-profile/
.mozilla/
.texlive/
.cabal/
.local
!.local/bin/

.config/retroarch/
.config/nvim/undodir
.config/libreoffice/
.config/google-chrome/
.config/discord/
.config/coc/
.config/blender/
.config/GIMP/
